body{
background-color: lightgray;
}

h1{
border-bottom: 2px solid black;  
}

.optionList{
position: relative;
right: -1400px;
}

.applyButton{
position: relative;
right: -1420px;   
}

.saveButton{
position: relative;
right: -1600px;   
}

.productOne{
border-radius: 10px;
border: 2px solid black;
padding: 5px; 
margin: 90px;
width: 200px;
height: 150px;
position: inline;
float: left;
}

.productOne p{
text-align: center;
position: relative;
bottom: 20px;
}

.productTwo{
border-radius: 10px;
border: 2px solid black;
padding: 5px; 
margin: 90px;
width: 200px;
height: 150px;
position: inline;
float: left;
}

.productTwo p{
text-align: center;
position: relative;
bottom: 20px;
}

.productThree{
border-radius: 10px;
border: 2px solid black;
padding: 5px; 
margin: 90px;
width: 200px;
height: 150px;
position: inline;
float: left;
}

.productThree p{
text-align: center;
position: relative;
bottom: 20px;
}

.addFrom{
float: left;
width: 100px;
height: 100px;
}

.typeSwitcher{
float: left;  
position: absolute; 
top: 210px;
}

.productInfo{
position: absolute;
top: 250px;
left: 10px;  
width: 200px;
height: 150px;
}



